<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script th:defer="true" th:src="@{/js/frameworks/jquery-3.1.1.js}"
            src="../../static/js/frameworks/jquery-3.1.1.js"></script>
    <script th:defer="true" th:src="@{/js/frameworks/bootstrap.min.js}"
            src="../../static/js/frameworks/bootstrap.min.js"></script>
    <script th:defer="true" th:src="@{/js/specific/registration-validation.js}"
            src="../../static/js/specific/registration-validation.js"></script>
    <script th:defer="true" th:src="@{/js/shared/scripts-core.js}"
            src="../../static/js/shared/scripts-core.js"></script>
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}"
            src="../../static/js/shared/fill-functions.js"></script>
    <script th:defer="true" th:src="@{/js/local/students-local-ukr.js}"
            src="../../static/js/local/students-local-ukr.js"></script>
    <script th:defer="true" th:src="@{/js/specific/login-registration.js}"
            src="../../static/js/specific/login-registration.js"></script>
    <meta charset="UTF-8"/>
    <title>CoursEd</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="padding-top:50px; padding-bottom:50px">
            <img th:src="@{/images/logo.png}" class="img-responsive center-block" src="../../static/images/logo.png"/>
            <!--<h2 align="center">CoursEd</h2>-->
            <h2 align="center">
                <small>E-кафедра АСОІУ</small>
            </h2>
            <hr/>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#login">Вхід</a></li>
                <li><a data-toggle="tab" href="#student" id="registration-student">Я - новий студент</a></li>
                <li><a data-toggle="tab" href="#teacher" id="registration-teacher">Я - новий викладач</a></li>
            </ul>
            <div class="tab-content">
                <div id="login" class="tab-pane fade in active">
                    <form th:action="@{/login}" method="post">
                        <h2>Необхідно авторизуватись</h2>
                        <div th:text="${message}" th:unless="${message == null}" class="alert alert-info"></div>
                        <div class="form-group">
                            <input type="email" name="email" id="emailField" class="form-control input-lg"
                                   placeholder="Email" autofocus="autofocus"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="passwordField" class="form-control input-lg"
                                   placeholder="Пароль"/>
                        </div>
                        <div th:if="${param.error != null}">
                            <div th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']}" class="alert alert error">
                                Повідомлення про помилку.
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <input type="submit" value="Увійти" class="btn btn-primary btn-block btn-lg"/>
                        </div>
                        <br/>
                        <div class="col-sm-4">
                            <a th:href="@{/users/forgotPassword}">Забули пароль?</a>
                        </div>
                    </form>
                </div>
                <div id="student" class="tab-pane fade">
                    <form id="registration-student-form" method="post">
                        <h2>Створіть акаунт студента</h2>
                        <div class="form-group">
                            <input id="lastNameField-student" class="form-control" type="text" name="lastName"
                                   placeholder="Прізвище"/>
                            <div id="result-lastNameField-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="firstNameField-student" class="form-control" type="text" name="firstName"
                                   placeholder="Ім'я"/>
                            <div id="result-firstNameField-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="patronymicField-student" class="form-control" type="text" name="patronymic"
                                   placeholder="По-батькові"/>
                            <div id="result-patronymicField-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="yearId" id="yearId">
                                <option value="0">Обрати рік</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="semesterId" id="semesterId">
                                <option value="0">Обрати семестр</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="specialityId" id="specialityId">
                                <option value="0">Обрати спеціальність</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="groupId" id="groupId">
                                <option value="0">Обрати групу</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="gradeBookNumber" id="GradeBookMarkId"
                                   placeholder="Залікова книжка"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="birthDate" placeholder="Дата народження"/>
                        </div>
                        <div class="form-group">
                            <input id="phoneNumber-student" type="text" value="+380" class="form-control"
                                   name="phoneNumber" placeholder="Контактний телефон"/>
                            <div id="result-phoneNumber-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="address" placeholder="Адреса"/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="studentEducationStatus" id="studentEducationStatus">
                                <option value="0">Обрати статус навчання</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="isBudgetStudent" id="isBudgetStudent">
                                <option value="0">Обрати форму навчання</option>
                                <option value="true">Бюджетна</option>
                                <option value="false">Контрактна</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="parentsInfo"
                                   placeholder="Інформація про батьків (ПІБ, телефон)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="additionalInformation"
                                   placeholder="Додаткова інформація (Захоплення, вміння та навички)"/>
                        </div>
                        <div class="form-group">
                            <input id="emailField-student" type="email" name="email" class="form-control"
                                   placeholder="Email" value="" autocomplete="off"/>
                            <div id="result-emailField-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="passwordField-student" type="password" name="password"
                                   class="form-control" placeholder="Пароль"/>
                            <div id="result-passwordField-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="confirmPasswordField-student" type="password" name="confirmPassword"
                                   class="form-control" placeholder="Підтвердіть пароль"/>
                            <div id="result-confirmPasswordField-student" class="alert-danger"></div>
                        </div>
                        <div class="form-group alert-danger">
                            <div id="student-request-server-status"></div>
                        </div>
                        <div class="form-group col-xs-12">
                            <input id="button-student-post" type="button" value="Подати заявку"
                                   class="btn btn-success btn-block btn-lg"/>
                        </div>
                    </form>
                </div>
                <div id="teacher" class="tab-pane fade">
                    <form id="registration-teacher-form" method="post">
                        <h2>Створіть акаунт викладача</h2>
                        <div class="form-group">
                            <input id="lastNameField-teacher" class="form-control" type="text" name="lastName"
                                   placeholder="Прізвище"/>
                            <div id="result-lastNameField-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="firstNameField-teacher" class="form-control" type="text" name="firstName"
                                   placeholder="Ім'я"/>
                            <div id="result-firstNameField-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="patronymicField-teacher" class="form-control" type="text" name="patronymic"
                                   placeholder="По-батькові"/>
                            <div id="result-patronymicField-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="phoneNumber-teacher" type="text" value="+380" class="form-control"
                                   name="phoneNumber" placeholder="Контактний телефон"/>
                            <div id="result-phoneNumber-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="emailField-teacher" type="email" name="email" class="form-control"
                                   placeholder="Email" value="" autocomplete="off"/>
                            <div id="result-emailField-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="passwordField-teacher" type="password" name="password"
                                   class="form-control"
                                   placeholder="Пароль"/>
                            <div id="result-passwordField-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group">
                            <input id="confirmPasswordField-teacher" type="password" name="confirmPassword"
                                   class="form-control" placeholder="Підтвердіть пароль"/>
                            <div id="result-confirmPasswordField-teacher" class="alert-danger"></div>
                        </div>
                        <div class="form-group alert-danger">
                            <div id="teacher-request-server-status"></div>
                        </div>
                        <div class="form-group col-xs-12">
                            <input id="button-teacher-post" type="button" value="Подати заявку"
                                   class="btn btn-success btn-block btn-lg"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="emailSentMessage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center well">Ваш обліковий запис збережений!</h1>
                </div>
                <div class="modal-body">
                    <h3 class="text-center">Ми відправили вам повідомлення із підтвердженям на пошту:
                        <a id="userEmail-modal"></a></h3>
                </div>
                <div class="modal-footer">
                    <a id="emailSentMessage-doneButton" th:href="@{/login}"
                       class="text-center btn btn-success btn-block btn-lg">Зрозуміло</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>