<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <meta charset="UTF-8"/>
    <title>Реєстрація користувача</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <form action="#" th:action="@{/registration}" method="post">
                <h2>Створіть акаунт</h2>

                <div class="form-edGroup">
                    <input type="email" name="email" id="emailField" class="form-control input-lg" placeholder="Email" value="" autofocus="autofocus" autocomplete="off"/>
                    <div id="checkEmailResult" class="alert-danger"></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-edGroup">
                            <input type="password" name="password" id="passwordField" class="form-control input-lg"
                                   placeholder="Пароль"/>
                            <div id="emptyPasswordResult" class="alert-danger"></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-edGroup">
                            <input type="password" name="confirmPassword" id="confirmPasswordField" class="form-control input-lg" placeholder="Підтвердіть пароль"/>
                            <div id="confirmPasswordResult" class="alert-danger"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="submit" value="Зареєструватись"
                                                          class="btn btn-primary btn-block btn-lg"/></div>
                    <div class="col-xs-6 col-md-6"><a th:href="@{/login}" class="btn btn-success btn-block btn-lg">Перейти до
                        аутентифікації</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>