<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <meta charset="UTF-8"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Відновлення паролю</title>

    <script th:defer="true" th:src="@{/js/frameworks/jquery-3.1.1.js}"
            src="../../static/js/frameworks/jquery-3.1.1.js"></script>
    <script th:defer="true" th:src="@{/js/frameworks/bootstrap.min.js}"
            src="../../static/js/frameworks/bootstrap.min.js"></script>
    <script th:defer="true" th:src="@{/js/shared/scripts-core.js}"
            src="../../static/js/shared/scripts-core.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="padding-top:50px; padding-bottom:50px">
            <img th:src="@{/images/logo.png}" class="img-responsive center-block" src="../../static/images/logo.png"/>
            <h2 align="center">
                <small>E-кафедра АСОІУ</small>
            </h2>
            <hr/>
            <h2 align="center">Відновлення паролю</h2>
            <div class="form-group">
                <h4>Введіть нові дані.</h4>
            </div>
            <div class="form-group">
                <input id="passwordField-reset" name="password" type="password" placeholder="Пароль"
                       class="form-control input-lg" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <input id="confirmPasswordField-reset" name="confirmPassword" type="password"
                       placeholder="Повторіть пароль" class="form-control input-lg"/>
            </div>
            <div class="form-group">
                <div id="resetPassword-request-server-status" class="alert-warning"></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <button id="passwordField-reset-button" type="submit"
                            class="text-center btn btn-primary btn-block btn-lg">Змінити</button>
                </div>
                <div class="col-sm-4">
                    <a th:href="@{/login}"
                       class="text-center btn btn-success btn-block btn-lg col-sm-4">Вхід</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>