<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <meta charset="UTF-8"/>
    <title>Підтвердіть свій акаунт</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="form-group">
            <h1 class="text-center well">Ваш обліковий запис збережений!</h1>
        </div>
        <div class="form-group">
            <h2 class="text-center">Ми відправили вам повідомлення із підтвердженям.</h2>
        </div>
        <div class="form-group">
            <a th:href="@{/login}" class="text-center btn btn-success btn-block btn-lg">Перейти до аутентифікації</a>
        </div>
    </div>
</div>
</body>
</html>