<!DOCTYPE html>
<html lang="en"
      layout:decorator="shared/general-layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Події</title>
    <link rel="stylesheet" th:href="@{/css/switch.css}" href="../../static/css/switch.css"/>
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}" src="../../static/js/shared/fill-functions.js"></script>
    <script th:defer="true" th:src="@{/js/local/groups-local-ukr.js}"
            src="../static/js/local/groups-local-ukr.js"></script>
    <script th:defer="true" th:src="@{/js/local/events-local-ukr.js}" src="../../static/js/local/events-local-ukr.js"></script>
    <script th:defer="true" th:src="@{/js/specific/events/events-teacher.js}" src="../../static/js/specific/events/events-teacher.js"></script>
</head>
<body>
    <div layout:fragment="content">
        <h2>Заплановані події</h2>
        <div class="panel-group" id="accordion-event" role="tablist" aria-multiselectable="true">
        </div>

        <div id="discipline-groups-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Вибрати групу: </h4>
                    </div>
                    <div class="modal-body">
                        <div id="groups-container">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>