<!DOCTYPE html>
<html lang="en"
      layout:decorator="shared/general-layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Звіт по групі</title>
    <!--<link rel="stylesheet" th:href="@{/css/plans.css}" href="../../static/css/plans.css"/>-->
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}" src="../../static/js/shared/fill-functions.js"></script>
    <!--<script th:defer="true" th:src="@{/js/shared/events.js}" src="../../static/js/shared/events.js"></script>-->
    <script th:defer="true" th:src="@{/js/specific/events/events-report.js}" src="../../static/js/specific/events/events-report.js"></script>
    <script th:defer="true" th:src="@{/js/local/events-local-ukr.js}"
            src="../../static/js/local/events-local-ukr.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="col-xs-12" id="header-report">

        <div class="form-group">
            <label class="control-label">Атестаційна відомість</label>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Група: </label>
            <div class="col-xs-8">
                <p class="form-control-static groupName"></p>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label col-xs-4">Навчальний рік</label>-->
            <!--<div class="col-xs-8">-->
                <!--<p class="form-control-static edYear"></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label col-xs-4">Семестр</label>-->
            <!--<div class="col-xs-8">-->
                <!--<p class="form-control-static semester"></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <table id="report-table" class="table table-hover table-striped">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>