<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog Main Layout</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a>CoursEd</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Головна сторінка</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Дисципліни<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/posts/list">List</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authors <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/authors/list">List</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/posts/">Posts</a></li>
                            <li><a href="/admin/authors/">Authors</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-text navbar-right">
                    Welcome <span sec:authentication="name">Guest</span> |
                    <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
                        <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
                    </form>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}"> Login</a>
                </div>
            </div>
        </div>
    </nav>
<!---->
    <div layout:fragment="content">
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>