.plan-content-container {
}

.year-container {
    /*background: #eee;*/
    background: lightgrey;
    margin-bottom: 50px;
    margin-top: 20px;
}

.speciality-container {
    margin-bottom: 25px;
}

.group-type-container {

}

.content-bar {
    background: lightpink;
}
