<!DOCTYPE html>
<html lang="en"
      layout:decorator="shared/general-layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Події</title>
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}"
            src="../static/js/shared/fill-functions.js"></script>
    <script th:defer="true" th:src="@{/js/local/groups-local-ukr.js}"
            src="../static/js/local/groups-local-ukr.js"></script>
    <script th:defer="true" th:src="@{/js/specific/events-head.js}" src="../static/js/specific/groups.js"></script>
</head>
<body>
    <div layout:fragment="content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#createEvent">Створити подію</a></li>
            <li><a data-toggle="tab" href="#plannedEventsTable" id="plannedEvents">Заплановані події</a></li>
        </ul>
        <div class="tab-content">
            <div id="createEvent" class="tab-pane fade in active">
                <form id="create-event-form" action="#" th:action="@{/createEvent}" method="post">
                    <h2>Створіть подію</h2>
                    <div class="form-group">
                        <input class="form-control" type="text" name="beginDate" placeholder="Дата початку"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="expirationDate" placeholder="Дата кінця"/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="eventType" id="eventType">
                            <option value="0">Тип події</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="semester" id="semester">
                            <option value="0">Семестер</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12">
                        <input id="button-teacher-post" type="submit" value="Створити подію"
                               class="btn btn-success btn-block btn-lg"/>
                    </div>
                </form>
            </div>
            <div id="plannedEventsTable" class="tab-pane fade">
                <button id="updateButton" type="button" class="btn btn-default">Оновити</button>
                <table id="content-table" class="table table-hover table-striped">
                    <thead>
                    <tr id="table-heads"></tr>
                    </thead>
                    <tbody id="tbodyId"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>