<!DOCTYPE html>
<html lang="en"
      layout:decorator="shared/general-layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Події</title>
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}" src="../static/js/shared/fill-functions.js"></script>
    <script th:defer="true" th:src="@{/js/local/groups-local-ukr.js}" src="../static/js/local/groups-local-ukr.js"></script>
    <script th:defer="true" th:src="@{/js/specific/events.js}" src="../static/js/specific/groups.js"></script>
</head>
<body>
<div layout:fragment="content">

</div>
</body>
</html>