<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="shared/general-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Реєстрація студента</title>
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}" src="../static/js/shared/fill-functions.js"></script>
    <script th:defer="true" th:src="@{/js/local/students-local-ukr.js}" src="../static/js/local/students-local-ukr.js"></script>
    <script th:defer="true" th:src="@{/js/specific/student-registration.js}" src="../static/js/specific/student-registration.js"></script>
</head>
<body>
<div layout:fragment="content">
    <p th:text="${currentUser}"></p>
    <div class="row">
        <form id="form-student" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <h2>Реєстрація студента</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" placeholder="Прізвище" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="Ім'я" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="patronymic" placeholder="По-батькові" />
            </div>
            <div class="form-group">
                <select class="form-control" name="yearId" id="yearId">
                    <option value="0">Обрати рік</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="semesterId" id="semesterId">
                    <option value="0">Обрати семестр</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="specialityId" id="specialityId">
                    <option value="0">Обрати спеціальність</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="groupId" id="groupId">
                    <option value="0">Обрати групу</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="gradeBookNumber" id="GradeBookMarkId" placeholder="Залікова книжка"/>
            </div>
            <!--<div class="form-group"><select class="form-control" name="gradeBookNumber" id="GradeBookMarkId"><option value="0">Обрати залікову книжку</option></select></div>-->
            <div class="form-group">
                <input class="form-control" type="text" name="birthDate" placeholder="Дата народження" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="phoneNumber" placeholder="Контактний телефон" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="address" placeholder="Адреса" />
            </div>
            <div class="form-group">
                <select class="form-control" name="studentEducationStatus" id="studentEducationStatus">
                    <option value="0">Обрати статус навчання</option>
                </select>
            </div>
            <!--<div class="checkbox"><label><input type="checkbox" name="isBudgetStudent"/>Навчаюсь за кошти державного бюджету</label></div>-->
            <div class="form-group">
                <select class="form-control" name="isBudgetStudent" id="isBudgetStudent">
                    <option value="0">Обрати форму навчання</option>
                    <option value="true">Бюджетна</option>
                    <option value="false">Контрактна</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="parentsInfo" placeholder="Інформація про батьків (ПІБ, телефон)" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="additionalInformation" placeholder="Додаткова інформація (Захоплення, вміння та навички)" />
            </div>
            <div class="form-group col-xs-12">
                <input id="button-student-post" type="button" value="Подати заявку" class="btn btn-success btn-block btn-lg" />
            </div>
            <br/>
        </form>
    </div>
</div>
</body>
</html>