<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="shared/general-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">>
<head>
    <title>Навчальний план</title>
    <link rel="stylesheet" th:href="@{/css/plans.css}" href="../static/css/plans.css"/>
    <script th:defer="true" th:src="@{/js/specific/plans.js}" src="../static/js/specific/plans.js"></script>
    <script th:defer="true" th:src="@{/js/shared/fill-functions.js}"
            src="../static/js/shared/fill-functions.js"></script>
    <script th:defer="true" th:src="@{/js/local/groups-local-ukr.js}"
            src="../static/js/local/groups-local-ukr.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h2 align="center">Навчальні плани</h2>

    <ul class="nav nav-pills">
        <li class="active"><a name="plan-show" data-toggle="pill" href="#one" id="one-plan">Поточний рік</a></li>
        <li><a name="plan-show" data-toggle="pill" href="#all" id="all-plans">Всі роки</a></li>
    </ul>
    <div class="tab-content">
        <div id="one" class="tab-pane fade in active">
            <div id="one-plan-container" class="col-xs-12 plan-content-container">
            </div>
        </div>
        <div id="all" class="tab-pane fade">
            <div class="form-inline form-group col-xs-12 col-sm-9">
                <label for="numberOnPage">Відображати по:</label>
                <select class="form-control" id="numberOnPage">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
            </div>
            <div id="all-plans-container" class="col-xs-12 plan-content-container">

            </div>
            <nav aria-label="Page navigation" class="col-xs-12"><ul class="pagination pagination-table"></ul></nav>
        </div>
    </div>

    <div id="plan-dialog-simple" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Навчальний план</h4>
                </div>
                <div class="modal-body">
                    <form id="modal-body-form-plan-simple">
                        <div class="form-group">
                            <select id="courseNumberS" name="courseNumber" class="form-control col-xs-12" type='text'>
                                <option>Обрати курс</option>
                            </select>
                        </div>
                        <p name="yearId" class="form-control-static yearId"></p>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Спеціальність</label>
                            <div class="col-xs-8">
                                <p name="specialityId" class="form-control-static specialityId"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">Форма навчання</label>
                            <div class="col-xs-8">
                                <p name="groupType" class="form-control-static groupType"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">Освітній ступень</label>
                            <div class="col-xs-8">
                                <p name="groupDegree" class="form-control-static groupDegree"></p>
                            </div>
                        </div>

                    </form>
                    <button id='button-post-plan-simple' type="button" class="btn btn-primary">Додати</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>