<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Навчальні роки</title>
    <script th:defer="true" th:src="@{/js/jquery-3.1.1.js}" src="../static/js/jquery-3.1.1.js"></script>
    <script th:defer="true" th:src="@{/js/scriptsHex.js}" src="../static/js/scriptsHex.js"></script>
</head>
<body>
<div layout:fragment="content">
</div>
</body>
</html>