<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Навчальні роки</title>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/jquery-3.1.1.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <!--<div class="row">-->
    <!--<div class="col-sm-3"></div>-->
    <!--<div class="col-sm-4">-->
    <!--<h3>Рік початку</h3>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
    <!--<h3>Рік завершення</h3>-->
    <!--</div>-->
    <!--<div class="col-sm-3"></div>-->
    <!--</div>-->

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Рік початку</th>
            <th>Рік завершення</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2015</td>
            <td>2016</td>
        </tr>
        <tr>
            <td>2016</td>
            <td>2017</td>
        </tr>
        </tbody>
        <tr th:each="year : ${years}">
            <td th:text="${year.begin}">A Smoke Test'</td>
        </tr>
    </table>
</div>
</body>
</html>