<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css"/>

    <script th:defer="true" th:src="@{/js/frameworks/jquery-3.1.1.js}"
            src="../../static/js/frameworks/jquery-3.1.1.js"></script>
    <script th:defer="true" th:src="@{/js/frameworks/bootstrap.min.js}"
            src="../../static/js/frameworks/bootstrap.min.js"></script>
    <script th:defer="true" th:src="@{/js/shared/scripts-core.js}" src="../../static/js/shared/scripts-core.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CoursEd</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true">Навігація<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/years}">Роки</a></li>
                        <li><a th:href="@{/specialities}">Спеціальності</a></li>
                        <li><a th:href="@{/groups}">Групи</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/teacherConfirm}">Підтвердження викладача</a></li>
                <li class="dropdown" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Панель керування <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/years}">Навчальні роки</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/events}">Події</a></li>
            </ul>
            <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post"></form>
            <ul class="nav navbar-nav navbar-right">
                <li><a sec:authentication="name"></a></li>
                <li><a href="javascript:{}"
                       onclick="document.getElementById('frmlogout').submit(); return false;">Вийти</a></li>
                <!--<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Увійти</a></li>-->
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div id="content" layout:fragment="content">
    </div>
</div>
</body>
</html>